body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%
}
.banner {
	font-family: Arial, Helvetica, sans-serif;
    width:728px;
    height:90px;
    border:1px solid #333;
    overflow:hidden;   
}
#bg {
    background: #fff;
    width: 728px;
    height: 90px;
    top: 0;
    left: 0;
    z-index: 1;
}

#clicktag {
    background: url(clicktag.png);
    width: 728px;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 100;
}
#logomask {
    width: 107px;
    height: 69px;
    top: 123px;
    left: 620px; 
    overflow: hidden;
}

#logo {
    background: url(logo.svg) no-repeat;
    background-size: 728px 90px;
    width: 728px;
    height: 90px;
    top: 100px;
    left: 0px;
}

#image1_frame {
    width: 538px;
    height: 76px;
    /*border: 1px solid #000;*/
    overflow: hidden;
    z-index: 2;
    top: 387px;
    left: 5px;
}

#green {
    background: #62604c;
    width: 0px;
    height: 74px;
    bottom: 2px;
    right: 0px;
    opacity: 1;
    z-index: 4;
}

#black {
    background: #000;
    width: 280px;
    height: 182px;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 3;
}
#logos {
    background: url(logos.jpg);
    /*background-size: 300px 250px;*/
    width: 728px;
    height: 90px;
    top: 0px;
    left: 0px;
    z-index: 2;
    opacity: 0;
}
#image1 {
    background: url(image1.jpg);
    /*background-size: 300px 250px;*/
    width: 536px;
    height: 74px;
    top: 0px;
    left: 0px;
    z-index: 2;
}
#legal {
    background: url(legal.png);
    background-size: 547px 8px;
    width: 547px;
    height: 8px;
    top: 75px;
    left: 35px;
    opacity: 0;
    z-index: 2;
}
#text1 {
    background: url(text1.svg);
    background-size: 728px 90px;
    width: 728px;
    height: 90px;
    top: 0px;
    left: 0px;
    z-index: 4;
    opacity: 0;
}

#text2 {
    background: url(text2.svg);
    background-size: 728px 90px;
    width: 728px;
    height: 90px;
      top: 0px;
    left: 0px;
    opacity: 0;
    z-index: 4;
}

#text3 {
    background: url(text3.svg);
    background-size: 728px 90px;
    width: 728px;
    height: 90px;
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: 5;
}

#divisor {
    background: #686860;
    width: 2px;
    height: 1px;
    top: 31px;
    left: 164px;
    z-index: 2;
    opacity: 0;
}
#divisor2 {
    background: #686860;
    width: 2px;
    height: 1px;
    bottom: 122px;
    left: 164px;
    z-index: 2;
    opacity: 0;
}

#fftext1 {
    background: url(fftext1.svg);
    background-size: 728px 90px;
    width: 728px;
    height: 90px;
    top: 0px;
    left: 280px;
    z-index: 6;
    opacity: 0;
}
#fftext2 {
    background: url(fftext2.svg);
    background-size: 728px 90px;
    width: 728px;
    height: 90px;
    top: 0px;
    left: 0px;
    z-index: 2;
    opacity: 0;
}

#fftext3 {
    background: url(fftext3.svg);
    background-size: 728px 90px;
    width: 728px;
    height: 90px;
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: 6;
}
#fftextOver {
    /*background: url(fftext3.svg);*/
    /*background-size: 300px 250px;*/
    width: 90px;
    height: 20px;
    top: 68px;
    left: 585px;
    opacity: 1;
    z-index: 110;
    cursor: pointer;
}
#ffcta {
    background: url(cta.svg);
    background-size: 728px 90px;
    width: 728px;
    height: 90px;
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: 6;
}
#disclaimer {
    
    width: 728px;
    height: 90px;
    z-index: 102;
    top: 0;
    left: 0;
    opacity: 0;
    display: none;
}

#disclaimerContainer {
    background: #fff;
    width: 728px;
    height: 90px;
    top: 0px;
    left: 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#disclaimerText {
    background: url(disclaimer.png) no-repeat;
    background-size: 657px 76px;
    width: 660px;
    height: 76px;
    top:4px;
    left: -1px;
    margin: 0 auto;
    right: 0;
}

#close {
    width: 12px;
    height: 12px;
    z-index: 1;
    top: 7px;
    right: 10px;
    cursor: pointer;
}