body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%
}
.banner {
    font-family: Arial, Helvetica, sans-serif;
    width:320px;
    height:50px;
    border:1px solid #333;
    overflow:hidden;   
}

#bg {
    background: #fff;
    width: 320px;
    height: 50px;
    top: 0;
    left: 0;
    z-index: 1;
}

#clicktag {
    background: url(clicktag.png);
    width: 320px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 120;
}

#logo {
    background: url(logo.svg) no-repeat;
    background-size: 320px 50px;
    width: 320px;
    height: 50px;
    top: 50px;
    left: 0px;
    opacity: 1;
}

#greenPanel1 {
    background: #62604c;
    width: 201px;
    height: 50px;
    top: 49px;
    left: 0;
    z-index: 5;
}

#greenPanel2 {
    background: #62604c;
    width: 0px;
    height: 90px;
    top: 0;
    right: 0;
    z-index: 5;
}
#text1 {
    background: url(text1.svg);
    background-size: 320px 50px;
    width: 320px;
    height: 50px;
    top: 0px;
    right: 0px;
    opacity: 0;
    z-index: 6;
}

#text2 {
    background: url(text2.svg);
    background-size: 320px 50px;
    width: 320px;
    height: 50px;
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: 6;
}

#text3 {
    background: url(text3.svg);
    background-size: 320px 50px;
    width: 320px;
    height: 50px;
    top: 0px;
    left: 10px;
    opacity: 0;
    z-index: 6;
}
#text4 {
    background: url(text4.png);
    background-size: 300px 50px;
    width: 300px;
    height: 50px;
    top: 0px;
    left: 10px;
    opacity: 0;
    z-index: 6;
}
#divisor {
    background: #686860;
    width: 2px;
    height: 1px;
    top: 91px;
    left: 175px;
    z-index: 3;
    opacity: 0;
}

#fftext1 {
    background: url(fftext1.svg);
    background-size: 320px 50px;
    width: 320px;
    height: 50px;
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: 6;
}
#fftext2 {
    background: url(fftext2.svg);
    background-repeat: no-repeat;
    background-size: 320px 50px;
    width: 320px;
    height: 50px;
    top: 0px;
    left: 0px;
    z-index: 2;
    opacity: 0;
}
#fftext3 {
    background: url(fftext3.svg);
    background-size: 320px 50px;
    width: 320px;
    height: 50px;
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: 101;
    cursor: pointer;
}

#legal {
    background: url(legal.png);
    background-size: 180px 18px;
    width: 180px;
    height: 18px;
    top: 28px;
    left: 7px;
    opacity: 0;
    z-index: 2;
}

#ffcta {
    background: url(ffcta.svg);
    background-size: 300px 50px;
    width: 300px;
    height: 50px;
    top: 0px;
    left: 14px;
    opacity: 0;
    z-index: 6;
}
#disclaimerHover {
    width: 112px;
    height: 24px;
    top: 32px;
    right: -28px;
    z-index: 121;
    cursor: pointer;
}
#disclaimer {
    /*background: #656550;*/
    width: 298px;
    height: 48px;
    z-index: 192;
    top: 0;
    left: 0;
    opacity: 0;
    display: none;
}

#disclaimerContainer {
    background: #fff;
    width: 291px;
    height: 44px;
    top: 2px;
    left: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#disclaimerText {
    background: url(disclaimer.png);
    background-size: 280px 40px;
    width: 280px;
    height: 40px;
    top: 2px;
    left: 0px;
    margin: 0 auto;
    right: 0;
}

#close {
    width: 12px;
    height: 12px;
    z-index: 1;
    top: 2px;
    right:6px;
    cursor: pointer;
}