@charset "utf-8";@import url("legacy1_1.css");@import url("CMC.css");@import url("Configurator.css");@font-face{font-family:'Source Sans Bold Italic';src:url('fonts/source-sans/sourcesanspro-bolditalic-webfont.eot');src:url('fonts/source-sans/sourcesanspro-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/source-sans/sourcesanspro-bolditalic-webfont.woff') format('woff'),url('fonts/source-sans/sourcesanspro-bolditalic-webfont.ttf') format('truetype'),url('fonts/source-sans/sourcesanspro-bolditalic-webfont.svg#source_sans_probold_italic') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'Source Sans Bold';src:url('fonts/source-sans/sourcesanspro-bold-webfont.eot');src:url('fonts/source-sans/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/source-sans/sourcesanspro-bold-webfont.woff') format('woff'),url('fonts/source-sans/sourcesanspro-bold-webfont.ttf') format('truetype'),url('fonts/source-sans/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'Source Sans Italic';src:url('fonts/source-sans/sourcesanspro-italic-webfont.eot');src:url('fonts/source-sans/sourcesanspro-italic-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/source-sans/sourcesanspro-italic-webfont.woff') format('woff'),url('fonts/source-sans/sourcesanspro-italic-webfont.ttf') format('truetype'),url('fonts/source-sans/sourcesanspro-italic-webfont.svg#source_sans_proitalic') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'Source Sans Light';src:url('fonts/source-sans/sourcesanspro-light-webfont.eot');src:url('fonts/source-sans/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/source-sans/sourcesanspro-light-webfont.woff') format('woff'),url('fonts/source-sans/sourcesanspro-light-webfont.ttf') format('truetype'),url('fonts/source-sans/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'Source Sans Light Italic';src:url('fonts/source-sans/sourcesanspro-lightitalic-webfont.eot');src:url('fonts/source-sans/sourcesanspro-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/source-sans/sourcesanspro-lightitalic-webfont.woff') format('woff'),url('fonts/source-sans/sourcesanspro-lightitalic-webfont.ttf') format('truetype'),url('fonts/source-sans/sourcesanspro-lightitalic-webfont.svg#source_sans_prolight_italic') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'Source Sans';src:url('fonts/source-sans/sourcesanspro-regular-webfont.eot');src:url('fonts/source-sans/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/source-sans/sourcesanspro-regular-webfont.woff') format('woff'),url('fonts/source-sans/sourcesanspro-regular-webfont.ttf') format('truetype'),url('fonts/source-sans/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'Source Sans Semibold';src:url('fonts/source-sans/sourcesanspro-semibold-webfont.eot');src:url('fonts/source-sans/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/source-sans/sourcesanspro-semibold-webfont.woff') format('woff'),url('fonts/source-sans/sourcesanspro-semibold-webfont.ttf') format('truetype'),url('fonts/source-sans/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'Source Sans Semibold Italic';src:url('fonts/source-sans/sourcesanspro-semibolditalic-webfont.eot');src:url('fonts/source-sans/sourcesanspro-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/source-sans/sourcesanspro-semibolditalic-webfont.woff') format('woff'),url('fonts/source-sans/sourcesanspro-semibolditalic-webfont.ttf') format('truetype'),url('fonts/source-sans/sourcesanspro-semibolditalic-webfont.svg#source_sans_proSBdIt') format('svg');font-weight:normal;font-style:normal}
div.footer_wrapper_position{margin:auto;overflow:hidden;width:1024px}
div.footer_wrapper{width:100%;min-width:987px;padding-bottom:50px}
div#footer{width:1024px;margin:0 auto 30px auto;overflow:hidden;background:#f1f1f1;color:#333;cursor:default}
div#footer>div.footer_element_container{padding:25px 0 0 32px;width:144px;float:left}
div#footer>div.footer_element_container:first-child{width:261px;padding-left:45px;border-right:5px solid #fff}
div#footer>div.footer_element_container p.footer_offers_updates,div#footer>div.footer_element_container h3{margin:30px 0 0 0;color:#333;font-size:13px;line-height:21px;font-weight:bold;text-transform:uppercase}
div#footer>div.footer_element_container h3 span{font:normal 13px/21px 'Source Sans Bold',Arial,sans-serif}
div#footer>div.footer_element_container h4{font-size:13px}
div#footer>div.footer_element_container p{font-size:11px;line-height:11px}
div#footer>div.footer_element_container input{height:35px;margin:10px 0 0 0;line-height:35px;vertical-align:middle;border:0}
div#footer>div.footer_element_container input[type="text"]{width:147px;padding:0 0 0 13px;font-size:12px;color:#333}
.lt-ie9 div#footer>div.footer_element_container input[type="text"]{vertical-align:top}
div#footer>div.footer_element_container input[type="submit"]{width:65px;cursor:pointer;background:none #606060;font-size:10px;text-transform:uppercase;color:#fff}
div#footer>div.footer_element_container .facebook,div#footer>div.footer_element_container .mobile{display:inline-block;background-repeat:no-repeat;font-size:13px;line-height:25px;text-decoration:none}
div#footer>div.footer_element_container .mobile{height:31px}
div#footer>div.footer_element_container .facebook:hover,div#footer>div.footer_element_container .mobile:hover{text-decoration:underline}
div#footer>div.footer_element_container .facebook{background-position:0 8px;padding:7px 14px 0 29px}
div#footer>div.footer_element_container .mobile{background-position:0 -38px;padding:8px 0 0 21px}
div#footer>div.footer_element_container a.logo{display:block;margin:37px 0 0 0}
div#footer>div.footer_element_container ul{list-style-type:none;margin-top:5px}
div#footer>div.footer_element_container ul li{font-size:13px;line-height:15px;margin-bottom:10px}
div#footer>div.footer_element_container ul li a{color:#333;text-decoration:none}
div#footer>div.footer_element_container ul li a:hover{text-decoration:underline}
div#footer>div.footer_element_container>ul#footer-terms-of-use li{display:inline-block;line-height:13px}
div#footer>div.footer_element_container>ul#footer-terms-of-use li.first{margin-right:7px;border-right:1px solid #333;padding-right:7px}
div#widget_footer_emailnotifications div.input_wrapper{width:175px;height:23px;overflow:hidden;display:inline}
div#widget_footer_emailnotifications div.input_wrapper>div.left_border{width:5px;height:23px;background:url('/wcsstore/HostedStoreFrontAssetStore/images/StoreAssets/images/colors/color1/widget_footer_emailnotifications/input_left_border.png') no-repeat;float:left}
div#widget_footer_emailnotifications div.input_wrapper>div.right_border{width:5px;height:23px;background:url('/wcsstore/HostedStoreFrontAssetStore/images/StoreAssets/images/colors/color1/widget_footer_emailnotifications/input_right_border.png') no-repeat;float:left}
div#widget_footer_emailnotifications div.input_wrapper>div.middle{height:23px;background:url('/wcsstore/HostedStoreFrontAssetStore/images/StoreAssets/images/colors/color1/widget_footer_emailnotifications/input_tile_bg.png') repeat-x;float:left}
div#widget_footer_emailnotifications div.input_wrapper>div.middle input.email_input{width:165px;height:23px;background:0;border:0}
div#widget_footer_emailnotifications input.submit_button{width:22px;height:22px;background:url('/wcsstore/HostedStoreFrontAssetStore/images/StoreAssets/images/colors/color1/widget_footer_emailnotifications/submit.png') no-repeat;border:0;margin-left:7px;cursor:pointer}
div#footer>div.footer_element_container h2{margin:30px 0 0 0;color:#333;font-size:13px;line-height:21px;font-weight:bold;text-transform:uppercase}
div#footer>div.footer_element_container>span{margin:30px 0 0 0;color:#333;font-size:13px;line-height:21px;font-weight:bold;text-transform:uppercase}
div#footer>div.footer_element_container h2 span,div#footer>div.footer_element_container span{font:normal 13px/21px 'Source Sans Bold',Arial,sans-serif}