@charset "utf-8";@import url("legacy1_1.css");@import url("CMC.css");@import url("Configurator.css");@font-face{font-family:'Source Sans Bold Italic';src:url('fonts/source-sans/sourcesanspro-bolditalic-webfont.eot');src:url('fonts/source-sans/sourcesanspro-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/source-sans/sourcesanspro-bolditalic-webfont.woff') format('woff'),url('fonts/source-sans/sourcesanspro-bolditalic-webfont.ttf') format('truetype'),url('fonts/source-sans/sourcesanspro-bolditalic-webfont.svg#source_sans_probold_italic') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'Source Sans Bold';src:url('fonts/source-sans/sourcesanspro-bold-webfont.eot');src:url('fonts/source-sans/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/source-sans/sourcesanspro-bold-webfont.woff') format('woff'),url('fonts/source-sans/sourcesanspro-bold-webfont.ttf') format('truetype'),url('fonts/source-sans/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'Source Sans Italic';src:url('fonts/source-sans/sourcesanspro-italic-webfont.eot');src:url('fonts/source-sans/sourcesanspro-italic-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/source-sans/sourcesanspro-italic-webfont.woff') format('woff'),url('fonts/source-sans/sourcesanspro-italic-webfont.ttf') format('truetype'),url('fonts/source-sans/sourcesanspro-italic-webfont.svg#source_sans_proitalic') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'Source Sans Light';src:url('fonts/source-sans/sourcesanspro-light-webfont.eot');src:url('fonts/source-sans/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/source-sans/sourcesanspro-light-webfont.woff') format('woff'),url('fonts/source-sans/sourcesanspro-light-webfont.ttf') format('truetype'),url('fonts/source-sans/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'Source Sans Light Italic';src:url('fonts/source-sans/sourcesanspro-lightitalic-webfont.eot');src:url('fonts/source-sans/sourcesanspro-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/source-sans/sourcesanspro-lightitalic-webfont.woff') format('woff'),url('fonts/source-sans/sourcesanspro-lightitalic-webfont.ttf') format('truetype'),url('fonts/source-sans/sourcesanspro-lightitalic-webfont.svg#source_sans_prolight_italic') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'Source Sans';src:url('fonts/source-sans/sourcesanspro-regular-webfont.eot');src:url('fonts/source-sans/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/source-sans/sourcesanspro-regular-webfont.woff') format('woff'),url('fonts/source-sans/sourcesanspro-regular-webfont.ttf') format('truetype'),url('fonts/source-sans/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'Source Sans Semibold';src:url('fonts/source-sans/sourcesanspro-semibold-webfont.eot');src:url('fonts/source-sans/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/source-sans/sourcesanspro-semibold-webfont.woff') format('woff'),url('fonts/source-sans/sourcesanspro-semibold-webfont.ttf') format('truetype'),url('fonts/source-sans/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'Source Sans Semibold Italic';src:url('fonts/source-sans/sourcesanspro-semibolditalic-webfont.eot');src:url('fonts/source-sans/sourcesanspro-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/source-sans/sourcesanspro-semibolditalic-webfont.woff') format('woff'),url('fonts/source-sans/sourcesanspro-semibolditalic-webfont.ttf') format('truetype'),url('fonts/source-sans/sourcesanspro-semibolditalic-webfont.svg#source_sans_proSBdIt') format('svg');font-weight:normal;font-style:normal}
a#content_skip{display:block;overflow:hidden;z-index:1;top:3.5%;font:normal 15px/18px 'Source Sans Bold',Arial,sans-serif;color:transparent}
a#content_skip:focus{width:auto;height:auto}
div.header_wrapper_position{width:100%;background-color:#fff;position:relative;z-index:200}
div.header_wrapper{width:100%;min-width:1024px}
div.header_wrapper>div.header_left_shadow>div.header_right_shadow>div.header{width:1024px;background-color:#fff;position:relative;margin:0 auto}
div.header_wrapper>div.header_top,div.header_wrapper>div.header_bottom{overflow:hidden;margin-left:auto;margin-right:auto;display:none}
#masthead{width:100%}#masthead>.content{width:100%;height:155px;position:relative}
#masthead>.navigation{height:42px;padding:0;position:relative;background:#fff;width:934px;margin:0 auto}
div.widget_masthead_logo_position{position:absolute;left:40px;top:18px}
body.home-2b div.widget_masthead_logo_position{top:18px}
body.home-3 div.widget_masthead_logo_position{left:48px}
div.widget_masthead_logo_position h1{width:0;height:0;text-indent:-9999px}
div#widget_masthead_logo{width:255px;height:98px}
div#widget_masthead_logo .logo{width:100%;height:100%;background:url('../images/StoreAssets/images/colors/color1/widget_masthead_logo/logo.png') no-repeat;cursor:pointer}
html,home-1a body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:1;font-style:inherit;font-family:Arial,sans-serif;font-size:inherit}
li.masthead_links_item>a,a:visited{text-decoration:none}
div.content_wrapper_position{width:100%}
div.content_wrapper{width:100%;min-width:1024px}
div.content_wrapper>div.content_left_shadow>div.content_right_shadow>div.main_content{width:1024px;background-color:#fff;min-height:100px;padding:0 0 20px;margin:0 auto}
div.content_wrapper>div.content_top{overflow:hidden;margin-left:auto;margin-right:auto;display:none}
.widget_departments_position{width:1004px;margin:0 auto;padding-left:20px !important}
.widget_departments_position>ul{display:block;position:relative;list-style:none;margin:0;padding:0;font-size:13px;line-height:42px;color:#00144b;font-weight:bold;height:42px}
.widget_departments_position>ul li{display:inline-block;margin:0 51px 0 0;padding:0;text-transform:uppercase;height:42px;position:relative;z-index:10}
.widget_departments_position>ul li:last-child{margin-right:0}
.lt-ie9 .widget_departments_position ul li#level-one-sales{margin-right:0}
.widget_departments_position>ul li a{font-size:15px;line-height:18px;font-family:'Source Sans Bold',Arial,sans-serif;font-weight:normal;color:#00144b}
body.home-2a .widget_departments_position>ul li a{color:#000}
body.home-3 .widget_departments_position>ul li a{color:#003472}
.widget_departments_position ul li>.drop{display:table;position:absolute;left:-9999px;top:42px}
.widget_departments_position ul li:hover,.widget_departments_position ul li.active{background:url('../images/StoreAssets/images/colors/color1/widget_departments/main_nav_dropdown_arrow.png') bottom center no-repeat}
.widget_departments_position ul li:hover>.drop,.widget_departments_position ul li.active>.drop{overflow:hidden;left:0;box-shadow:1px 2px 2px rgba(33,33,33,0.4);background:#ededed;padding:15px 0 0}
.widget_departments_position ul li#level-one-tech:hover>.drop,.widget_departments_position ul li#level-one-tech.active>.drop{left:auto;right:-180px}
.home-3 .widget_departments_position ul li#level-one-tech:hover>.drop,.home-3 .widget_departments_position ul li#level-one-tech.active>.drop{right:auto}
.widget_departments_position ul li#level-one-supplies:hover>.drop,.widget_departments_position ul li#level-one-supplies.active>.drop{left:auto;right:-323px}
.widget_departments_position ul li:last-child:hover>.drop,.widget_departments_position ul li:last-child.active>.drop{left:auto;right:0}
.widget_departments_position ul li>.drop ul{position:relative;right:0;float:left;width:196px;padding:0 20px 12px}
.widget_departments_position ul li>.col-3{width:582px}
.widget_departments_position ul li>.col-4{width:776px}
.widget_departments_position ul li>.multi-col>.col-1{width:154px;margin:0 0 -200px;padding:0 20px 220px;background:url('../images/StoreAssets/images/colors/color1/widget_departments/nav_column_border.png') top left repeat-y #ededed}
.widget_departments_position ul li>.multi-col>.col-1:first-child{background:0}
.widget_departments_position ul li>.drop ul li{background:0;margin:0;float:left;line-height:25px;letter-spacing:-0.2px;height:auto;width:100%}
.widget_departments_position ul li>.drop ul li+li.departments{padding-top:6px}
.widget_departments_position ul li>.drop ul li{padding-left:8px;margin-bottom:10px}
.widget_departments_position ul li>.drop ul li:last-child{margin-bottom:0}
.widget_departments_position ul li>.drop ul li a{float:left;font-size:12px;line-height:15px;color:#333;text-transform:none;font-family:'Source Sans',Arial,sans-serif}
.widget_departments_position ul li>.drop a:hover{text-decoration:underline}
.widget_departments_position ul li .drop .departments{padding-left:0;margin-bottom:0}
.widget_departments_position ul li .drop .departments a{padding:0 0 6px;color:#00144b;font-size:13px;line-height:20px;text-transform:uppercase;text-shadow:1px 1px 0 #fff;font-family:'Source Sans Bold',Arial,sans-serif;text-indent:0}
body.home-3 .widget_departments_position ul li .drop .departments a{color:#003472}
.widget_departments_position ul li>.drop .see-all{position:relative;clear:both;padding:5px 20px;background:url('../images/StoreAssets/images/colors/color1/widget_departments/nav_show_catagories_border.png') top repeat-x #ededed;text-align:center}
.widget_departments_position ul li>.drop .see-all a{font:normal 13px/20px 'Source Sans Bold',Arial,sans-serif;text-transform:uppercase;text-shadow:1px 1px 0 #fff;color:#00144b}
body.home-3 .widget_departments_position ul li>.drop .see-all a{color:#003472}
div.widget_departments_home_position{position:absolute;left:15px;bottom:0}
div#widget_departments_home{height:38px;cursor:pointer;z-index:5;position:relative}
div#widget_departments_home>div.left_border{width:5px;height:38px;background:url('../images/StoreAssets/images/colors/color1/widget_departments/departments_home_bg_sprite.png') left top no-repeat;float:left}
div#widget_departments_home>div.content{width:186px;height:17px;padding:8px 9px 13px 9px;background:url('../images/StoreAssets/images/colors/color1/widget_departments/departments_home_bg_sprite.png') left bottom repeat-x;float:left;position:relative}
div#widget_departments_home>div.content>span.label{font-size:15px;color:#332902}
div#widget_departments_home>div.content>div.arrow{display:none}
div#widget_departments_home>div.right_border{width:5px;height:38px;background:url('../images/StoreAssets/images/colors/color1/widget_departments/departments_home_bg_sprite.png') left center no-repeat;float:left}
div#widget_departments_home>.drop_down{display:block;position:absolute;left:0;top:38px;cursor:default}
div#widget_departments_home>.drop_down>.top{width:214px;overflow:hidden;display:none}
div#widget_departments_home>.drop_down>.top>.left_border{width:2px;height:4px;float:left;background:url('../images/StoreAssets/images/colors/color1/widget_departments/dropdown_top_sprite.png') left top no-repeat}
div#widget_departments_home>.drop_down>.top>.middle_tile{width:210px;height:4px;float:left;background:url('../images/StoreAssets/images/colors/color1/widget_departments/dropdown_top_sprite.png') left center repeat-x}
div#widget_departments_home>.drop_down>.top>.right_border{width:2px;height:4px;float:left;background:url('../images/StoreAssets/images/colors/color1/widget_departments/dropdown_top_sprite.png') left bottom}
div#widget_departments_home>.drop_down>.middle{width:214px}
div#widget_departments_home>.drop_down>.middle>.left_border{width:213px;padding-left:1px;background-color:#a2a4a4}
div#widget_departments_home>.drop_down>.middle>.left_border>.right_border{width:212px;padding-right:1px;background-color:#a2a4a4}
div#widget_departments_home>.drop_down>.middle>.left_border>.right_border>.departments{width:212px;padding-top:5px;background-color:#fff}
div#widget_departments_home>.drop_down>.middle>.left_border>.right_border>.departments>.department{height:29px;cursor:pointer}
div#widget_departments_home>.drop_down>.middle>.left_border>.right_border>.departments>.department:hover{background-color:#d9e9f7}
div#widget_departments_home>.drop_down>.middle>.left_border>.right_border>.departments>.department>.name_wrapper{position:relative}
div#widget_departments_home>.drop_down>.middle>.left_border>.right_border>.departments>.department>.name_wrapper>.name{line-height:29px;font-size:13px;float:left;padding:0 30px 0 13px;max-width:220px;color:#565656}
div#widget_departments_home>.drop_down>.middle>.left_border>.right_border>.departments>.department>.name_wrapper>.name a{text-decoration:none;color:#565656}
div#widget_departments_home>.drop_down>.middle>.left_border>.right_border>.departments>.department>.name_wrapper>.arrow{position:absolute;top:50%;right:10px;margin-top:-5px;height:10px;width:10px;float:right;background:url('../images/StoreAssets/images/colors/color1/widget_departments/arrow_sprite.png') left top no-repeat}
div#widget_departments_home>.drop_down>.middle>.left_border>.right_border>.departments>.department:hover>.name_wrapper{font-weight:bold}
div#widget_departments_home>.drop_down>.middle>.left_border>.right_border>.departments>.department:hover>.name_wrapper>.name a{text-decoration:none}
div#widget_departments_home>.drop_down>.middle>.left_border>.right_border>.departments>.department:hover>.name_wrapper>.arrow{background-position:left bottom}
div#widget_departments_home>.drop_down>.middle>.left_border>.right_border>.departments>.department>.sub_categories{width:392px;height:204px;background-color:#fff;position:absolute;top:-5px;left:213px;display:none;cursor:default}
div#widget_departments_home>.drop_down .departments>.department>.sub_categories .top{width:392px;height:5px;overflow:hidden}
div#widget_departments_home>.drop_down .departments>.department>.sub_categories>.top>.left_border{width:1px;height:5px;background:url('../images/StoreAssets/images/colors/color1/widget_departments/home_sub_categories_top_sprite.png') left top no-repeat;float:left}
div#widget_departments_home>.drop_down .departments>.department>.sub_categories>.top>.middle_tile{width:390px;height:5px;background:url('../images/StoreAssets/images/colors/color1/widget_departments/home_sub_categories_top_sprite.png') left center repeat-x;float:left}
div#widget_departments_home>.drop_down .departments>.department>.sub_categories>.top>.right_border{width:1px;height:5px;background:url('../images/StoreAssets/images/colors/color1/widget_departments/home_sub_categories_top_sprite.png') left bottom no-repeat;float:left}
div#widget_departments_home>.drop_down .departments>.department>.sub_categories .middle{width:392px;height:198px;overflow:hidden}
div#widget_departments_home>.drop_down .departments>.department>.sub_categories>.middle>.left_border{width:1px;height:198px;background-color:#a2a4a4;float:left}
div#widget_departments_home>.drop_down .departments>.department>.sub_categories>.middle>.middle_tile{width:390px;height:198px;float:left;overflow:hidden}
div#widget_departments_home>.drop_down .departments>.department>.sub_categories>.middle>.middle_tile>.sub_category{width:127px;height:198px;float:left;font-size:11px;line-height:26px;margin-left:1px}
div#widget_departments_home>.drop_down .departments>.department>.sub_categories>.middle>.middle_tile>.sub_category>.name{padding-left:18px;width:109px;font-weight:bold;margin-top:8px}
div#widget_departments_home>.drop_down .departments>.department>.sub_categories>.middle>.middle_tile>.sub_category>.item{padding-left:18px;width:109px}
div#widget_departments_home>.drop_down .departments>.department>.sub_categories>.middle>.middle_tile>.sub_category>.item:hover{background-color:#d9e9f7}
div#widget_departments_home>.drop_down .departments>.department>.sub_categories>.middle>.middle_tile>.sub_category>.item a{text-decoration:none;color:#565656}
div#widget_departments_home>.drop_down .departments>.department>.sub_categories>.middle>.middle_tile>.sub_category>.item a:hover{text-decoration:underline}
div#widget_departments_home>.drop_down .departments>.department>.sub_categories>.middle>.right_border{width:1px;height:198px;background-color:#a2a4a4;float:left}
div#widget_departments_home>.drop_down .departments>.department>.sub_categories .bottom{width:392px;height:1px;overflow:hidden}
div#widget_departments_home>.drop_down .departments>.department>.sub_categories>.bottom>.left_border{width:1px;height:1px;background-color:#a2a4a4;float:left}
div#widget_departments_home>.drop_down .departments>.department>.sub_categories>.bottom>.middle_tile{width:390px;height:1px;background-color:#a2a4a4;float:left}
div#widget_departments_home>.drop_down .departments>.department>.sub_categories>.bottom>.right_border{width:1px;height:1px;background-color:#a2a4a4;float:left}
div#widget_departments_home>.drop_down>.middle>.left_border>.right_border>.departments>.department:hover>.sub_categories{display:block}
div#widget_departments_home>.drop_down>.middle>.left_border>.right_border>.departments>.view_all{width:182px;padding-left:30px;background-color:#f5f6f7;height:42px;line-height:42px;font-size:13px;position:relative;border-top:1px solid #e0e0e0;margin-top:5px}
div#widget_departments_home>.drop_down>.middle>.left_border>.right_border>.departments>.view_all a{text-decoration:none;color:#565656}
div#widget_departments_home>.drop_down>.middle>.left_border>.right_border>.departments>.view_all a:hover{font-weight:bold}
div#widget_departments_home>.drop_down>.middle>.left_border>.right_border>.departments>.view_all>.arrow{width:10px;height:10px;position:absolute;left:13px;top:50%;margin-top:-5px;background:url('../images/StoreAssets/images/colors/color1/widget_departments/arrow_sprite.png') left top no-repeat}
div#widget_departments_home>.drop_down>.bottom{width:214px;overflow:hidden;background-color:#a2a4a4}
div#widget_departments_home>.drop_down>.bottom>.left_border{width:1px;height:1px;float:left}
div#widget_departments_home>.drop_down>.bottom>.middle_tile{width:212px;height:1px;float:left}
div#widget_departments_home>.drop_down>.bottom>.right_border{width:1px;height:1px;float:left}
div#widget_departments_home>.drop_down .departments>.department>.sub_categories>.middle>.middle_tile>.sub_category>.first{margin-top:8px}
div#widget_departments_home>.drop_down>.middle>.left_border>.right_border>.departments>.dephighlight{background-color:#d9e9f7}
div#widget_departments_home>.drop_down>.middle>.left_border>.right_border>.departments>.dephighlight>.name_wrapper>.name>a{font-weight:bold}
div#widget_departments_home>.drop_down>.middle>.left_border>.right_border>.departments>.dephighlight>.name_wrapper>.arrow{background-position:left bottom}
div#widget_departments_home>.drop_down .departments>.department>.sub_categories>.middle>.middle_tile>.sub_category>.dephighlight{background-color:#d9e9f7}
div#widget_departments_home>.drop_down .departments>.department>.sub_categories>.middle>.middle_tile>.sub_category>.dephighlight>a{text-decoration:underline}
div#widget_departments_home>.drop_down>.middle>.left_border>.right_border>.departments>.dephighlight>a{font-weight:bold}
div.widget_search_position{position:absolute;right:45px;top:61px}
div#widget_search{height:39px}div#widget_search>div.content input.search_input{float:left;clear:both;width:262px;height:39px;padding:0 15px;font-family:'Source Sans',Arial,sans-serif;font-size:15px;line-height:39px;vertical-align:middle;border:0;background-color:#ededed;color:#333}
div#widget_search>div.content{min-width:298px;padding:5px 0 7px 5px;float:left;position:relative}
div#widget_search>div.content .all_departments{font-size:15px;background:#ededed no-repeat 100% 50%;border-left:2px solid #b6b6b6;padding-right:20px;padding-left:10px;float:left;cursor:pointer;overflow:hidden;height:39px;line-height:39px;vertical-align:middle;width:160px}
div#widget_search>div.content .all_departments span#searchDepartmentLabel>span{font-family:'Source Sans',Arial,sans-serif}
.gray_color{color:#777}div#widget_search>div.content input.search_input:focus{color:#4d4d4d}
div#widget_search>div.content input.search_input:blur{color:#c6c6c6}
div.widget_search_departments_dropdown_position{position:absolute;top:34px;left:213px;display:none}
div.widget_search_departments_dropdown{z-index:30;position:relative}
div.widget_search_departments_dropdown>div.top>div.left_border{height:11px;width:11px;float:left}
div.widget_search_departments_dropdown>div.top>div.middle{background-repeat:repeat-x;width:148px;height:11px;float:left}
div.widget_search_departments_dropdown>div.top>div.right_border{height:11px;width:11px;float:left}
div.widget_search_departments_dropdown>div.content_left_border{width:166px;background-repeat:repeat-y;padding-left:85px}
div.widget_search_departments_dropdown>div.content_left_border>div.content_right_border{width:198px;background-repeat:repeat-y;padding-right:11px;background-position:right}
div.widget_search_departments_dropdown ul{background-color:white;cursor:pointer}
div.widget_search_departments_dropdown ul li{list-style-type:none;margin-left:1px;margin-right:1px}
div.widget_search_departments_dropdown ul li a{border-bottom:1px solid #f2f2f2;border:thin solid #f1f1f1;color:#4d4d4d;cursor:pointer;display:block;font-size:12px;padding-left:13px;padding-right:13px;text-decoration:none;background-color:white;line-height:15px;padding-top:9px;padding-bottom:9px;margin-left:1px;margin-right:1px;color:#4d4d4d}
div.widget_search_departments_dropdown ul li a.enabled{background-color:#d9e9f7}
div.widget_search_departments_dropdown ul li a.disabled{background-color:white}
div.widget_search_departments_dropdown ul li a:hover{background-color:#d9e9f7}
div.widget_search_departments_dropdown>div.bottom>div.left_border{height:11px;width:11px;float:left}
div.widget_search_departments_dropdown>div.bottom>div.middle{background-repeat:repeat-x;width:148px;height:11px;float:left}
div.widget_search_departments_dropdown>div.bottom>div.right_border{height:11px;width:11px;float:left}
.widget_search_position input.search_submit{width:37px;height:39px;margin:0;padding:0;background:center no-repeat;text-indent:-9999px;border:0}
body.home-2a .widget_search_position input.search_submit{background:center no-repeat}
body.home-3 .widget_search_position input.search_submit{background:center no-repeat}
.header_espot_container{padding-top:0;padding-left:16px}
div#cart_espot_container{position:absolute;top:16px;right:12px;display:table;min-width:384px;font-size:12px}
div#cart_espot_container>.header_espot_container{display:table-cell;vertical-align:middle;text-align:center;line-height:19px;color:#00144b}
div#cart_espot_container>a,a:visited{text-decoration:none}
body.home-2a div#cart_espot_container>.header_espot_container{color:#000}
body.home-3 div#cart_espot_container>.header_espot_container{color:#003472}
div#cart_espot_container>.header_espot_container em{font-size:14px;font-style:italic;font-family:Georgia,serifs;display:block}
div#cart_espot_container>.header_espot_container strong{display:block;text-transform:uppercase;font:normal 13px/18px 'Source Sans Bold',arial,sans-serif}
div#cart_espot_container>.header_espot_container strong span{font-size:15px;font-family:'Source Sans Bold',arial,sans-serif}
div#cart_espot_container>.widget_minishopcart_position{display:table-cell;vertical-align:middle;padding-left:35px;padding-right:28px;float:right}
div#miniShopCartBody{display:table;line-height:18px;color:#276ed2}
a#link_shop_cart>div.content>div.info{font-size:12px;font-weight:bold;display:inline-table}
a#link_shop_cart>div.content>div.info>div.cart>span{font:normal 12px/17px 'Source Sans Semibold',arial,sans-serif}
a#link_shop_cart>div.content div.cart span#minishopcart_total{display:block;font-family:arial}
a#link_shop_cart>div.content>div.cart_icon{width:16px;height:18px;background:0 50% no-repeat;display:table-cell;padding-right:8px;vertical-align:middle}
.widget_minishopcart_popup_position{position:absolute;top:86px;right:19px;z-index:50}
div#widget_minishopcart_popup,div#widget_minishopcart_popup_1{width:357px;cursor:pointer}
div#widget_minishopcart_popup>.top,div#widget_minishopcart_popup_1>.top{width:360px;overflow:hidden}
div#widget_minishopcart_popup>.top>.left_border,div#widget_minishopcart_popup_1>.top>.left_border{width:3px;height:3px;background-color:#a3a3a3;float:left}
div#widget_minishopcart_popup>.top>.middle_tile,div#widget_minishopcart_popup_1>.top>.middle_tile{width:354px;height:3px;background-color:#a3a3a3;float:left}
div#widget_minishopcart_popup>.top>.right_border,div#widget_minishopcart_popup_1>.top>.right_border{width:3px;height:3px;background-color:#a3a3a3;float:left}
div#widget_minishopcart_popup>.middle,div#widget_minishopcart_popup_1>.middle{width:360px}
div#widget_minishopcart_popup>.middle>.left_border,div#widget_minishopcart_popup_1>.middle>.left_border{float:left;width:357px;padding-left:3px;background-color:#a3a3a3}
div#widget_minishopcart_popup>.middle>.left_border>.right_border,div#widget_minishopcart_popup_1>.middle>.left_border>.right_border{float:left;width:354px;padding-right:3px;background-color:#a3a3a3}
div#widget_minishopcart_popup>.middle>.left_border>.right_border>.content,div#widget_minishopcart_popup_1>.middle>.left_border>.right_border>.content{float:left;width:354px;background-color:#fff;min-height:20px}
div#widget_minishopcart_popup>.middle>.left_border>.right_border>.content>.close_control,div#widget_minishopcart_popup_1>.middle>.left_border>.right_border>.content>.close_control{position:absolute;top:12px;right:9px;font-size:12px;line-height:12px;height:30px;padding-top:2px;padding-right:2px;cursor:pointer}
div#widget_minishopcart_popup>.middle>.left_border>.right_border>.content>.close_control>.icon,div#widget_minishopcart_popup_1>.middle>.left_border>.right_border>.content>.close_control>.icon{height:13px;width:13px;background-image:url('../images/StoreAssets/images/colors/color1/close_circle_sprite.png');float:right;margin-left:4px}
div#widget_minishopcart_popup>.middle>.left_border>.right_border>.content>.close_control>.close,div#widget_minishopcart_popup_1>.middle>.left_border>.right_border>.content>.close_control>.close{float:right;text-decoration:none}
div#widget_minishopcart_popup>.middle>.left_border>.right_border>.content>.close_control:hover>.icon,div#widget_minishopcart_popup_1>.middle>.left_border>.right_border>.content>.close_control:hover>.icon{background-position:0 -13px}
div#widget_minishopcart_popup>.middle>.left_border>.right_border>.content>.close_control:hover>.close,div#widget_minishopcart_popup_1>.middle>.left_border>.right_border>.content>.close_control:hover>.close{text-decoration:underline}
div#widget_minishopcart_popup>.middle>.left_border>.right_border>.content>.notification,div#widget_minishopcart_popup_1>.middle>.left_border>.right_border>.content>.notification{width:334px;height:35px;padding:0 10px;line-height:35px;background-color:#f5f6f7;border-bottom:1px solid #edeff0;border-top:4px solid #f8ad05;color:#666;font-size:12px}
div#widget_minishopcart_popup>.middle>.left_border>.right_border>.content>.top_spacing,div#widget_minishopcart_popup_1>.middle>.left_border>.right_border>.content>.top_spacing{height:39px;line-height:45px}
div#widget_minishopcart_popup>.middle>.left_border>.right_border>.content>.products>.product,div#widget_minishopcart_popup_1>.middle>.left_border>.right_border>.content>.products>.product{min-height:82px;border-bottom:1px solid #edeff0;position:relative;padding:5px 11px 5px 92px}
div#widget_minishopcart_popup>.middle>.left_border>.right_border>.content>.products>.product>.product_image,div#widget_minishopcart_popup_1>.middle>.left_border>.right_border>.content>.products>.product>.product_image{width:92px;height:92px;position:absolute;top:0;left:0;overflow:hidden}
div#widget_minishopcart_popup>.middle>.left_border>.right_border>.content>.products>.product>.product_image img,div#widget_minishopcart_popup_1>.middle>.left_border>.right_border>.content>.products>.product>.product_image img{margin:11px}
div#widget_minishopcart_popup>.middle>.left_border>.right_border>.content>.products>.product>.product_name,div#widget_minishopcart_popup_1>.middle>.left_border>.right_border>.content>.products>.product>.product_name{font-size:16px;color:#666}
div#widget_minishopcart_popup>.middle>.left_border>.right_border>.content>.products>.product>.product_name a,div#widget_minishopcart_popup_1>.middle>.left_border>.right_border>.content>.products>.product>.product_name a{color:#666;word-wrap:break-word}
div#widget_minishopcart_popup>.middle>.left_border>.right_border>.content>.products>.product a,div#widget_minishopcart_popup_1>.middle>.left_border>.right_border>.content>.products>.product a{text-decoration:none}
div#widget_minishopcart_popup>.middle>.left_border>.right_border>.content>.products>.product a:hover,div#widget_minishopcart_popup_1>.middle>.left_border>.right_border>.content>.products>.product a:hover{text-decoration:underline}
div#widget_minishopcart_popup>.middle>.left_border>.right_border>.content>.products>.product>.product_image a{display:block}
div#widget_minishopcart_popup>.middle>.left_border>.right_border>.content>.products>.product>.product_quantity,div#widget_minishopcart_popup_1>.middle>.left_border>.right_border>.content>.products>.product>.product_quantity{font-size:13px;color:#666;margin-right:14px}
div#widget_minishopcart_popup>.middle>.left_border>.right_border>.content>.products>.product>.product_price,div#widget_minishopcart_popup_1>.middle>.left_border>.right_border>.content>.products>.product>.product_price{font-size:13px;color:#ca4200;line-height:26px;font-weight:bold;float:right}
div#widget_minishopcart_popup>.middle>.left_border>.right_border>.content>.products>.product>.product_color,div#widget_minishopcart_popup_1>.middle>.left_border>.right_border>.content>.products>.product>.product_color{font-size:12px;line-height:16px;color:#777}
div#widget_minishopcart_popup>.middle>.left_border>.right_border>.content>.products>.product>.product_size,div#widget_minishopcart_popup_1>.middle>.left_border>.right_border>.content>.products>.product>.product_size{font-size:12px;line-height:16px;color:#777}
div#widget_minishopcart_popup>.middle>.left_border>.right_border>.content>.subtotal,div#widget_minishopcart_popup_1>.middle>.left_border>.right_border>.content>.subtotal{border-bottom:1px solid #edeff0;padding:8px 11px;position:relative}
div#widget_minishopcart_popup>.middle>.left_border>.right_border>.content>.subtotal>.product_price,div#widget_minishopcart_popup_1>.middle>.left_border>.right_border>.content>.subtotal>.product_price{color:#ca4200;line-height:22px;font-weight:bold;float:right}
.adjustment_price{font-size:13px}div#widget_minishopcart_popup>.middle>.left_border>.right_border>.content>.view_more,div#widget_minishopcart_popup_1>.middle>.left_border>.right_border>.content>.view_more{border-bottom:1px solid #edeff0;padding:5px 11px;position:relative}
div#widget_minishopcart_popup>.middle>.left_border>.right_border>.content>.view_more>.view_more_items,div#widget_minishopcart_popup_1>.middle>.left_border>.right_border>.content>.view_more>.view_more_items{color:#006ecc;font-size:12px;cursor:pointer}
div#widget_minishopcart_popup>.middle>.left_border>.right_border>.content>.view_more>.view_more_items:hover,div#widget_minishopcart_popup_1>.middle>.left_border>.right_border>.content>.view_more>.view_more_items:hover{text-decoration:underline}
div#widget_minishopcart_popup>.middle>.left_border>.right_border>.content>.go_to_cart,div#widget_minishopcart_popup_1>.middle>.left_border>.right_border>.content>.go_to_cart{height:35px;padding:6px 11px;overflow:hidden}
div#widget_minishopcart_popup>.middle>.left_border>.right_border>.content>.go_to_cart>.button_primary,div#widget_minishopcart_popup_1>.middle>.left_border>.right_border>.content>.go_to_cart>.button_primary{float:right;margin-top:5px}
div#widget_minishopcart_popup>.middle>.left_border>.right_border>.content>.added>.product,div#widget_minishopcart_popup_1>.middle>.left_border>.right_border>.content>.added>.product{min-height:112px;border-bottom:1px solid #edeff0;position:relative;padding:5px 11px 5px 126px}
div#widget_minishopcart_popup>.middle>.left_border>.right_border>.content>.added>.product>.product_image,div#widget_minishopcart_popup_1>.middle>.left_border>.right_border>.content>.added>.product>.product_image{width:126px;height:126px;position:absolute;top:0;left:0}
div#widget_minishopcart_popup>.middle>.left_border>.right_border>.content>.added>.product>.product_image img,div#widget_minishopcart_popup_1>.middle>.left_border>.right_border>.content>.added>.product>.product_image img{margin:8px}
div#widget_minishopcart_popup>.middle>.left_border>.right_border>.content>.empty,div#widget_minishopcart_popup_1>.middle>.left_border>.right_border>.content>.empty{font-size:13px;padding:15px 7px;border-bottom:1px solid #edeff0}
div#widget_minishopcart_popup>.bottom,div#widget_minishopcart_popup_1>.bottom{width:360px;overflow:hidden}
div#widget_minishopcart_popup>.bottom>.left_border,div#widget_minishopcart_popup_1>.bottom>.left_border{float:left;width:3px;height:3px;background-color:#a3a3a3}
div#widget_minishopcart_popup>.bottom>.middle_tile,div#widget_minishopcart_popup_1>.bottom>.middle_tile{float:left;width:354px;height:3px;background-color:#a3a3a3}
div#widget_minishopcart_popup>.bottom>.right_border,div#widget_minishopcart_popup_1>.bottom>.right_border{float:left;width:3px;height:3px;background-color:#a3a3a3}
div#widget_masthead_links{width:934px;font-size:9px;line-height:31px;color:#fff;text-transform:uppercase;margin:0 auto}
div#widget_masthead_links div.masthead_links .masthead_links_container{list-style:none;margin:0;padding:0}
div#widget_masthead_links div.masthead_links .masthead_links_container>li.masthead_links_item{padding:0 10px;display:inline-block;font-weight:bold;z-index:20;position:relative}
li.masthead_links_item>a{color:inherit}div#widget_masthead_links div.masthead_links .masthead_links_container>li.masthead_links_item:first-child{padding-left:0}
div#widget_masthead_links div.masthead_links .masthead_links_container>li.masthead_links_item a:hover{text-decoration:none;color:#a9a9a9}
div#widget_masthead_links div.masthead_links .masthead_links_container>li.masthead_links_item a#GoToSchool{text-transform:none}
div#widget_masthead_links div.masthead_links .masthead_links_container>li.masthead_links_item #SchoolName{border-right:1px solid #fff;margin-right:5px;padding-right:5px}
div#widget_masthead_links div.masthead_links .masthead_links_container>li.masthead_links_item #ChangeStoreLink{background:right -13px no-repeat;padding-right:10px;text-transform:none}
div#widget_masthead_links div.masthead_links .masthead_links_container>li.masthead_links_item#ChangeSchool.active{background:#ededed}
div#widget_masthead_links div.masthead_links .masthead_links_container>li.masthead_links_item#ChangeSchool.active a,div#widget_masthead_links div.masthead_links .masthead_links_container>li.masthead_links_item#ChangeSchool.active a span{color:#00144b;text-decoration:none}
div#widget_masthead_links div.masthead_links .masthead_links_container>li.masthead_links_item#ChangeSchool.active a span#SchoolName{border-color:#00144b}
div#widget_masthead_links div.masthead_links .masthead_links_container>li.masthead_links_item#ChangeSchool.active>div#FindYourSchool{right:0;left:auto}
div#widget_masthead_links div.masthead_links .masthead_links_container>li.masthead_links_item#ChangeSchool a:hover #ChangeStoreLink{background-position:right 0}
div#widget_masthead_links div.masthead_links .masthead_links_container>li.masthead_links_item#ChangeSchool.active a:hover #ChangeStoreLink,div#widget_masthead_links div.masthead_links .masthead_links_container>li.masthead_links_item#ChangeSchool.active #ChangeStoreLink{background-position:right -25px}
div#widget_masthead_links div.masthead_links .masthead_links_container>li.masthead_links_item.active a,div#widget_masthead_links div.masthead_links .masthead_links_container>li.masthead_links_item.active a:hover,div#widget_masthead_links div.masthead_links .masthead_links_container>li.masthead_links_item.active #SchoolName,div#widget_masthead_links div.masthead_links .masthead_links_container>li.masthead_links_item a:hover #SchoolName{border-color:#a9a9a9;color:#a9a9a9}
div#widget_masthead_links div.masthead_links .masthead_links_container>li.masthead_links_item#ChangeSchool>div#FindYourSchool{position:absolute;box-shadow:0 2px 5px #ccc;background:#ededed;padding:18px 20px 15px;width:307px;left:-9999px}
div#widget_masthead_links div.masthead_links .masthead_links_container>li.masthead_links_item#ChangeSchool>div#FindYourSchool p.FindYourSchoolHeading{font-size:14px;line-height:14px;margin:0 0 18px 0;padding:0;color:#00144b;font-family:"Source Sans Bold",Arial,sans-serif;font-weight:normal}
div#widget_masthead_links div.masthead_links .masthead_links_container>li.masthead_links_item#ChangeSchool>div#FindYourSchool p.FindYourSchoolMessage{clear:both;padding-top:15px;font:italic 14px/22px Georgia,serifs;color:#00338e;text-align:center;text-transform:none}
div#widget_masthead_links div.masthead_links .masthead_links_container>li.masthead_links_item#ChangeSchool>div#FindYourSchool input[type='text']{font:normal 12px/12px Arial,sans-serif;color:#0d3034;border:0;background:#fff;width:256px;height:39px;padding:0 7px}
div#widget_masthead_links div.masthead_links .masthead_links_container>li.masthead_links_item#ChangeSchool>div#FindYourSchool input{float:left}
div#widget_masthead_links div.masthead_links .masthead_links_container>li.masthead_links_item#ChangeSchool>div#FindYourSchool span.twitter-typeahead{float:left}
div#widget_masthead_links div.masthead_links .masthead_links_container>li.masthead_links_item#ChangeSchool>div#FindYourSchool span.tt-dropdown-menu{background:#fff;border:1px solid #dcdcdc;width:268px;padding:15px 0;font-size:12px;text-align:left}
div#widget_masthead_links div.masthead_links .masthead_links_container>li.masthead_links_item#ChangeSchool>div#FindYourSchool h3.auto-search-header{color:#00549c;font-family:"Source Sans Semibold",Arial,sans-serif;text-transform:uppercase;padding:0 15px 7px;line-height:12px}
div#widget_masthead_links div.masthead_links .masthead_links_container>li.masthead_links_item#ChangeSchool>div#FindYourSchool div.tt-suggestion{padding:7px 15px}
div#widget_masthead_links div.masthead_links .masthead_links_container>li.masthead_links_item#ChangeSchool>div#FindYourSchool span.tt-dropdown-menu p{font:normal 12px/12px "Source Sans",Arial,sans-serif;color:#0d3034;padding-top:0;text-align:left}
div#widget_masthead_links div.masthead_links .masthead_links_container>li.masthead_links_item#ChangeSchool>div#FindYourSchool div.tt-suggestion.tt-is-under-cursor{background:#eaeaea}
.button_add_to_cart{height:29px;overflow:hidden;cursor:pointer;display:block;text-decoration:none;min-width:164px;float:left;clear:both}
.button_add_to_cart>.left_border{width:2px;height:29px;float:left;background:url('../images/StoreAssets/images/colors/color1/buttons/add_to_cart_sprite.png') top left no-repeat}
.button_add_to_cart>.right_border{width:2px;height:29px;float:left;background:url('../images/StoreAssets/images/colors/color1/buttons/add_to_cart_sprite.png') top right no-repeat}
.button_add_to_cart>.button_text{min-width:120px;height:25px;padding:2px 20px;float:left;background:url('../images/StoreAssets/images/colors/color1/buttons/add_to_cart_sprite.png') bottom repeat-x;line-height:28px;color:#333;text-align:center;font-size:11px;font-family:arial;font-size:14px}
.button_add_to_cart:hover>.left_border{background:url('../images/StoreAssets/images/colors/color1/buttons/add_to_cart_hover_sprite.png') top left no-repeat}
.button_add_to_cart:hover>.right_border{background:url('../images/StoreAssets/images/colors/color1/buttons/add_to_cart_hover_sprite.png') top right no-repeat}
.button_add_to_cart:hover>.button_text{background:url('../images/StoreAssets/images/colors/color1/buttons/add_to_cart_hover_sprite.png') bottom repeat-x;color:#4d4d4d}
.nodisplay{display:none}.spanacce{height:1px;width:1px;position:absolute;overflow:hidden;top:-1px}
.autoSuggestSelected{background-color:#d9e9f7}
.button_add_to_cart_disabled{height:25px;padding:2px 45px;border:2px solid #e5e5e5;color:#777;float:left;font-size:12px;line-height:25px;cursor:default}
div.widget_search_dropdown_position{position:absolute;float:right;right:226px;top:90px;z-index:100}
div.widget_search_dropdown{z-index:30;position:relative}
div.widget_search_dropdown>div.top>div.left_border{height:11px;width:11px;float:left}
div.widget_search_dropdown>div.top>div.middle{background-repeat:repeat-x;width:297px;height:11px;float:left}
div.widget_search_dropdown>div.top>div.right_border{height:11px;width:11px;float:left}
div.widget_search_dropdown>div.content_left_border{width:340px;background-repeat:repeat-y;padding-left:11px}
div.widget_search_dropdown>div.content_left_border>div.content_right_border{width:294px;background-repeat:repeat-y;padding-right:11px;background-position:right}
div.widget_search_dropdown>div.content_left_border>div.content_right_border>div.content{background-color:#fff}
div.widget_search_dropdown>div.content_left_border>div.content_right_border>div.content div.heading{padding-left:9px;padding-right:9px;line-height:30px;background-color:#f5f6f7;color:#4d4d4d;height:30px;border-bottom:1px solid #edeff0}
div.heading>span{font-size:13px;text-transform:uppercase}
div.heading>span.selectedAttribute{text-transform:none}
div.list_section{margin-left:1px;margin-right:1px}
div.list_section>ul>li{border:thin solid #f1f1f1;list-style-type:none}
div.list_section>ul{border:thin solid #f1f1f1}
div.list_section>ul>li>a>span.highlight{font-weight:bold}
div.list_section>ul>li:hover{background-color:#d9e9f7}
div.list_section>ul>li>a{display:table-cell;height:29px;width:400px;border-bottom:1px solid #f2f2f2;font-size:12px;padding-left:8px;padding-right:8px;color:#4d4d4d;overflow:hidden;cursor:pointer;text-decoration:none !important}
div.widget_search_dropdown>div.content_left_border>div.content_right_border>div.content>div.heading>a{font-size:12px;text-decoration:none;color:#006ecc}
div.widget_search_dropdown>div.content_left_border>div.content_right_border>div.content>div.heading>a>div{line-height:30px}
div.widget_search_dropdown>div.bottom>div.left_border{height:11px;width:11px;float:left}
div.widget_search_dropdown>div.bottom>div.middle{background-repeat:repeat-x;width:297px;height:11px;float:left}
div.widget_search_dropdown>div.bottom>div.right_border{height:11px;width:11px;float:left}
.top1{width:1024px;height:auto;background:#e5e7ed;text-align:center;line-height:38px;vertical-align:middle;color:#00144b;font:13px/38px 'Source Sans Semibo.navPrev	ld',Arial,sans-serif;margin:auto}
#autoSuggestDynamic_Result_div.dijitContentPane{margin:0}
#youcart_productdetails_001{margin:20px 0;padding:0 45px;width:934px}
#youcart_accountdetails_001{margin:20px 0;padding:0 25px;width:934px}
#new_container_alignment_001{margin:0;padding:0 40px;width:934px}
#new_static_alignment_001{margin:0;padding:0 25px;width:934px}
#featured_books_right ul{margin-left:15px;padding:0;width:934px}
#featured_books_right ul li{border:0 solid #f3f3f3;display:block;float:left;padding:10px 0;width:200px;margin:20px 10px;text-align:center}
#fpPrice{font-size:12px;font-weight:bold}
#featured_books_right>ul>li>a{text-decoration:none}
#featured_books_right>ul>li>a:hover{text-decoration:underline}
td .wcmenu_showAllBorder{display:none}.dijitMenuPopup .dropdown{background-color:#ededed;border:solid 1px #ccc;padding:0;border-collapse:collapse;box-shadow:1px 2px 3px #888}
.dijitMenuPopup .dijitMenuItemLabel{background-color:#ededed}
.dijitMenuPopup .dijitReset{background-color:#ededed}
div#widget_masthead_links div.masthead_links .masthead_links_container>li.masthead_links_item#ChangeSchool>div#FindYourSchool h2{font-size:14px;line-height:14px;margin:0 0 18px 0;padding:0;color:#00144b;font-family:"Source Sans Bold",Arial,sans-serif;font-weight:normal}