@import url(global_styles.css);body{background:#fff}
.major_headers{color:#900;background:#ccc}
a:link{color:#000}a:visited{color:#000}#header{background:#900;color:#fff}
#header a{color:#fff}#top_nav ul li a:visited{color:#fff;text-decoration:underline}
#top_nav ul li a:hover{color:#fff}#searchbox{background:#900}
.searchLabel{font-size:120%;color:#fff;font-weight:bold}
#searchbox a:link{color:#fff}#searchbox a:visited{color:#fff}
#book_selector ul li{background:#ccc}#book_selector a{color:#000;text-decoration:none}
#book_selector a:hover{text-decoration:underline}
.feat_ite{border:1px solid #ccc;color:#900}
#announcements h2,#events h2{color:#fff;background:#900}
#announcements,#events,#item_description,#content fieldset{border:1px solid #900}
fieldset#Demographics{border:medium none}
#Demographics legend{display:block;font-weight:bold;font-size:100%}
fieldset#Register{border:medium none}#Register legend{color:#000;background:#ccc;padding:2px 3px}
#Register legend span{display:block;width:550px}
#material_results fieldset{border:0}#material_results h2{background:#ccc;color:#000}
#footer{background:#ccc;color:#000}#footer ul li a:link{color:#000}
#footer ul li a:visited{color:#000;text-decoration:underline}
#footer ul li a:hover{color:#fff}#detail_page h1,.contactHeaders{border:1px solid #ccc;margin:0 0 10px 0;color:#900;font-size:120%}
.hours caption,.buybackTitles caption{background:#900;color:#fff}
.secondaryPageHeader{background:#ccc}.secondaryPageHeaderSub{font-size:100%;background:#ccc;color:#000;border:1px solid #333;padding:2px}
#add_to_cart{border:1px solid #333}#add_to_cart h2{color:#000}
.ShoppingCartTable th{background:#ccc;border:#ccc 2px solid;color:#000}
.ShoppingCartTable td{padding:5px}.ShoppingCartTable caption{background:#ccc;color:#000;padding:5px}
div.subHeading a,div.subHeading a:hover{color:#000;text-decoration:underline}
td.headerFooter{background-color:#900}td.headerFooterBreak{background-color:#ccc}
th,.CartTableheader{background-color:#ccc;border:1px;border-color:#666;border-style:solid;text-align:left}
td.categoryLinks{background-color:#900}td.sideHeading{background-color:#c00;border-bottom-width:1px;border-color:#333;border-style:solid;border-left-width:0;border-right-width:0;border-top-width:0}
td.sidebar{background-color:#fff}td.sideText{background-color:#fff}
td.blackHeading{background-color:#fff;color:#000}
td.highlight{background-color:orange}table.outlined{border:1px solid #666}
td.subCategory{background-color:#999}td.subCategory2{background-color:#ccc}
td.subCategory3{background-color:#fff}h2.subHeading{background:#ccc;border:1px;border-color:#666;border-style:solid;text-align:left;color:#000}
div.pageHeading{font-family:arial,helvetica,sans-serif;font-size:100%;font-weight:bold;text-align:left;color:black;padding-bottom:15px;padding-left:3px}
div.subHeading{font-family:arial,helvetica,sans-serif;font-size:100%;font-weight:bold;color:#000;padding:2px 3px}
div.blackHeading{font-family:arial,helvetica,sans-serif;font-size:100%;font-weight:bold;color:#000;padding:2px 3px}
div.ddcsDisclaimer{font-family:Arial,Helvetica,sans-serif,verdana;font-size:9px;color:#000;padding:0;margin:0}
div.headerFooter{font-family:arial,helvetica,sans-serif;font-size:100%;font-weight:normal;color:#fff;padding-bottom:3px;padding-left:5px;padding-right:5px;padding-top:2px}
a.headerFooterLinks:link{font-family:arial,helvetica,sans-serif;font-size:100%;font-weight:normal;color:#fff;padding:0;margin:0;text-decoration:none}
a.headerFooterLinks:visited{font-family:arial,helvetica,sans-serif;font-size:100%;font-weight:normal;color:#fff;padding:0;margin:0;text-decoration:none}
a.headerFooterLinks:active{font-family:arial,helvetica,sans-serif;font-size:100%;font-weight:normal;color:#fff;padding:0;margin:0;text-decoration:underline}
a.headerFooterLinks:hover{font-family:arial,helvetica,sans-serif;font-size:100%;font-weight:normal;color:#fff;padding:0;margin:0;text-decoration:underline}
div.categoryLinks{padding-bottom:0;padding-left:1px;padding-right:1px;padding-top:0}
div.subCategory{padding-bottom:0;padding-left:13px;padding-right:1px;padding-top:0}
div.subCategory2{padding-left:22px;padding-right:1px;padding-top:0;padding-bottom:0}
div.subCategory3{padding-left:40px;padding-right:3px;padding-top:0;padding-bottom:0}
a.categoryLinks:link{font-family:arial,helvetica,sans-serif;text-decoration:none;font-size:100%;color:#fff;font-weight:bold}
a.categoryLinks:visited{font-family:arial,helvetica,sans-serif;text-decoration:none;font-size:100%;color:#fff;font-weight:bold}
a.categoryLinks:active{font-family:arial,helvetica,sans-serif;text-decoration:none;font-size:100%;color:#ff9;font-weight:bold}
a.categoryLinks:hover{font-family:arial,helvetica,sans-serif;text-decoration:none;font-size:100%;color:#ff9;font-weight:bold}
a.subCategory:link{font-family:arial,helvetica,sans-serif;text-decoration:none;font-size:100%;color:#000;font-weight:bold}
a.subCategory:visited{font-family:arial,helvetica,sans-serif;text-decoration:none;font-size:100%;color:#000;font-weight:bold}
a.subCategory:active{font-family:arial,helvetica,sans-serif;text-decoration:underline;font-size:100%;color:#fff;font-weight:bold}
a.subCategory:hover{font-family:arial,helvetica,sans-serif;text-decoration:underline;font-size:100%;color:#fff;font-weight:bold}
a.subCategory2:link{font-family:arial,helvetica,sans-serif;text-decoration:none;font-size:100%;color:#333;font-weight:bold}
a.subCategory2:visited{font-family:arial,helvetica,sans-serif;text-decoration:none;font-size:100%;color:#333;font-weight:bold}
a.subCategory2:active{font-family:arial,helvetica,sans-serif;text-decoration:underline;font-size:100%;color:#fff;font-weight:bold}
a.subCategory2:hover{font-family:arial,helvetica,sans-serif;text-decoration:underline;font-size:100%;color:#fff;font-weight:bold}
a.subCategory3:link{font-family:arial,helvetica,sans-serif;text-decoration:none;font-size:100%;color:#333;font-weight:bold}
a.subCategory3:visited{font-family:arial,helvetica,sans-serif;text-decoration:none;font-size:100%;color:#333;font-weight:bold}
a.subCategory3:active{font-family:arial,helvetica,sans-serif;text-decoration:underline;font-size:100%;color:#333;font-weight:bold}
a.subCategory3:hover{font-family:arial,helvetica,sans-serif;text-decoration:underline;font-size:100%;color:#333;font-weight:bold}
p.sideText{font-family:arial,helvetica,sans-serif;font-size:100%;color:#333;text-decoration:none}
div.sideText{font-family:arial,helvetica,sans-serif;font-size:100%;color:Black;text-decoration:none;padding:2px 5px 3px 5px}
div.sideHeading{font-family:arial,helvetica,sans-serif;font-size:100%;font-weight:bold;color:White;text-decoration:none;padding:2px 5px 3px 5px}
.text{font-family:arial,helvetica,sans-serif;font-size:100%;padding:3px}
div.fieldLabel{font-family:arial,helvetica,sans-serif;font-size:100%;font-weight:bold;color:#000}
#alertBox{border:1px solid #999886;background:#ffc;padding:10px}
#alertBox h1{color:#c00;font-size:150%;margin:0 0 10px;padding:0;line-height:19px}
#alertBox p{font-size:100%;margin:0;padding:0}
div.content_menu_option{background:#ccc;color:#000}
div.content_menu_option a{color:#000;text-decoration:none;display:block}
div.leftnav_section_header{background:#900;color:#fff}
#efTopNavigation{background:#900 url(../images/button-gradient.png) repeat-x scroll left top}
input.efSearchSubmit{background:#900 url(../images/btn-top-search.gif) repeat-x scroll left top}
input.efOptinSubmit{background:#900 url(../images/btn-bot-email.gif) repeat-x scroll left top}
* html div.#efTopNavigation{background:#900}
#efTopNavigation ul ul li a:hover{background:#900}
.efa6,.efh4,.efh9,.efh16,.efh17{color:#900 !important}
.r2,#effooter,#efFooter{border-top:2px solid #900}
.hp-an-football{width:200px;margin:10px 0 20px 40px}
.hp-an-bible{margin:60px 10px 20px 10px}
#header_nav{background:#900 url(../images/button-gradient.png) repeat-x scroll left top}
.dropdown a{color:#000}.wcmenu_column{padding:3px 3px 3px 3px;width:190px}
#masthead>.top{width:100%;height:30px;background:#900}
#header_nav_solr a{color:#606060}div.widget_carousel{border-top:6px solid #900}
.footer_wrapper h3 span{color:#606060}.news_and_offers>h2{color:#900}
#product_detail_options table thead tr{border-bottom:5px solid #900}
.widget_home_hero_image_position span{color:#900}
div#widget_breadcrumb>ul li{color:#00529c !important}
div#widget_breadcrumb>ul li a{color:#00529c !important}
div.widget_offers h2{color:#900 !important}