<!--

/* Custom css style sheet for schools to add thier own styles or override styles in default css */


/* These styles have corresponding styles that finish out the desired look and feel in 
   /misc/style.css but need to be in this file because of the dependency on the theme 
   that the images reside in.
   
   When creating a new theme, change the path to reflect the new theme.  In most cases, only 
   the directory immediately following the "custom" directory (classic, in the styles below) 
   will need to be changed.
 */
 
body.main { padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; width: 100%; min-width: 775px; background: #E4E1D9;}
body.main > table {
background-color: #FFFFFF;
}

body, table, th, tr, td, span, h1, h2, h3, h4, h5, h6, a, p, .uportal-text-small,
.uportal-label, .uportal-text, .uportal-channel-text, .uportal-channel-subtitle,
.uportal-channel-subtitle-reversed, .uportal-head24{
font-family: helvetica, arial, sans-serif;
}

body, table, th, tr, td, span, h1, h2, h3, h4, h5, h6, a, p, .uportal-text-small,
.uportal-text, .uportal-channel-text, .uportal-channel-subtitle,
.uportal-channel-subtitle-reversed{
color: #404040;
}

.welcome_bar .uportal-label, #bu-miniframe-childmid-header .uportal-label {
color: #FFFFFF;
}

a { color: #45729F; }
a:link{ color: #45729F; }
a:visited{color: #293E6D;}
a:hover{ color: #992211; }

.uportal-channel-subtitle { color: #303030; }

/* from style.css */
td.bg1 {background: url(./images/misc/header_bg.gif) repeat-x bottom;
	    height: 75px;
}

td.bg3 {background-color: #CCCC99;}

td.bglight {background-color: #335180;}
 
td.bgtabon {background-color: transparent;}

td.bgtaboff {background-color: #CCCCCC;}

td.texttabon {color: #FFFFFF;}

td.texttaboff {color: #000000;}

td.tabon { 
  background-image:url(./images/misc/tab_bg_left_on.gif);
  background-color: transparent !important;
}
td.tabon A:link { color: #404040; }
td.tabon A:visited { color: #404040; }
td.tabon A:active { color: #404040; }
td.tabon A:hover { color: #404040; }

td.taboff { 
  background-image:url(./images/misc/tab_bg_left_gray2.gif); 
  background-color: transparent !important;
}
td.taboff A:link { color: #404040; }
td.taboff A:visited { color: #404040;  }
td.taboff A:active { color: #404040;  }

td.taboff:hover { 
  background-image:url(./images/misc/tab_bg_left_gray2.gif); 
}
td.taboff:active { 
  background-image:url(./images/misc/tab_bg_left_gray2.gif); 
}
div.tabon {
  background-image:url(./images/misc/tab_bg_right_on.gif);
  background-color: transparent !important;
  margin-left: 10px;
  margin-right: 3px;
  padding-left: 0px;
  padding-top: 5px;
}
div.taboff { 
  background-image:url(./images/misc/tab_bg_right_gray2.gif);
  background-color: transparent !important;
  margin-left: 10px;
  margin-right: 3px;
  padding-left: 0px;
  padding-top: 5px;
}
div.taboff:hover { 
  background-image:url(./images/misc/tab_bg_right_gray2.gif); 
}
div.taboff:active { 
  background-image:url(./images/misc/tab_bg_right_gray2.gif); 
}
.bgmenu {
  background-image:url(./images/misc/menu_bg.gif);
}

div#tabbar {
  padding: 0;
  margin-top: 3px;
}

div#bu-logo-bg {
background: url(./images/misc/watermark_bottom.gif) no-repeat bottom left;
}

table.tabbar {
  background: #2b3649 url(./images/misc/tabbar_bg.gif) repeat-x bottom;
  margin-top: -3px;
}

table#footer{
display: none;
}

div#wrapper-footer{
background: #E4E1D9 url(./images/misc/footer_shadow.gif) repeat-x top;
height: 135px;
}

td.tabrow {
  padding: 10px 10px 0 10px;
}
div#apps-tabbar {
  padding: 0;
}
table.apps-tabbar {
  background: #369 url(./images/misc/tabbar_bg.gif) repeat-x bottom;
}
td.apps-tabrow {
  padding: 10px 10px 0 10px;
}
td.apps-ext-hlp {
  vertical-align: bottom;
  padding: 0 0 6px 0;
}
td.apps-ext-hlp span, td.apps-ext-hlp a:hover {
  color: #fff;
}
table.apps-tabbar h1#section_head_txt {color: #eee;}

h2#btitle {text-align: left; color: #fff; font-size: 7pt;}

table.welcome_bar {
  background: #335180;
  border-bottom: 3px #2B3649 solid;
  
}

span#date_txt {
  color: #fff;
}

div#content {
  background: #eee;
  padding: 10px;
}

span#mng-links a {
	color: white;
}

span#mng-links a:hover {
	color: white;
}

span#backto a {
	color: white;
}

span#backto a:hover {
	color: white;
}

span#welcome, span#welcome span {
  color: white;
}

.label-white a {
	color: #fff;
	font-family: helvetica, arial, sans-serif;
	font-size: 10px;
	font-weight: bold;
}
.label-white a:hover{
  color: #fff;  
	text-decoration: none;
}

.label-white a:visited{
  color: #fff;  
	text-decoration: none;
}

/* begin standard channel classes ------------- */

.channel-title span {
font-family: verdana, helvetica, arial, sans-serif;
}

.channel-window-outside {
	
	background-color: #EFEDE8;
	display: block;
	margin: 15px 2px 15px 2px;
	padding: 5px 5px 15px 5px;
	border: 1px solid #DBD7CE;
	border-top: 0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0px 2px 6px #808080;
	-webkit-box-shadow: 0px 2px 6px #808080;
}

.channel-window-inside {
  /*border: 1px #036 solid; */
	color: inherit;
	display: block;
	padding: 0 0 0 0;
}

.channel-header {
	margin: 0px 0px 0px 0px;
	padding: 0px 3px 0px 3px;
	color: inherit;
	display: block;
	height: auto;
	background-color: #BFBCAD;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
}

.channel-header div img {
	border: none;
	margin: 0 0 0 0;
	vertical-align: top
}

.channel-header div {
	border-bottom: 0px solid #333;
	color: #000;
	text-align: right;
	margin: 0px 0px 0px 0px;
	padding: 5px 3px 5px 3px;
}

.channel-header div h1, .channel-header div h1 span  {
	font-size: 12px;
	font-weight: bold; 
	float: left;
	text-align: left;
	letter-spacing: normal;
	vertical-align: bottom;
	color: #000000;
	margin-right: 5px;
	margin-bottom: 5px;
}


.channel-content-border {
	background: #EFEDE8;
	/*border: 1px solid #036;*/
	color: inherit;
	display: block;
	margin: 0 0 0 0;
	padding: 15px 5px 5px 5px;
	font-size: 76%;
}

.channel-content-body {
	height: 110% !important;
	padding: 0 10px 0 15px;
	margin: 0;
	/* width: 100%; */
}

html>body div.channel-content-body>table {
	height: auto;
	clear: both;
	border: none;
	padding: 0;
	margin: 0;
	/*width: 99.5%;*/
}

html>body div.channel-content-body .uportal-background-content {
background: transparent;
}

span#content > table.uportal-background-content {
background: #FFFFFF url(./images/misc/contentbg.png) bottom repeat-x;
padding-bottom: 20px;
}

tr.uportal-background-content {
background: transparent;
}

/* end standard channel classes --------------- */

/* standard Page header classes --------------- */
/*
.page-header-outside {
	border-bottom: 2px #ddd solid;
	border-right: 0px #ddd solid;
	background: #568CC1 url(./images/misc/chan_header_bg_center.gif) repeat-x top;
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 0 0 0 0;
}

.page-header-inside {
  	border: 1px #036 none; 
	color: inherit;
	display: block;
	padding: 0 0 0 0;
}

.page-header {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: inherit;
	display: block;
	height: auto;
}

.page-header div {
  background: url(./images/misc/chan_header_bg_left.gif) no-repeat left top;
	border-bottom: 0px solid #333;
	color: #fff;
	text-align: right;
	margin: 0 0px 0 0px;
	padding: 2px 5px 2px 5px;
}
*/
.page-header div {
background-color: #BFBCAD;
height: 3px;
display: none;
}
/* end standard Page header classes --------------- */

/*
 * Button styles
 */

input.btn
{
  color: #333;
  font: bold 11px helvetica, arial, sans-serif;
  background: #ccc url(./images/misc/btnbg.gif) repeat-x center;
  text-decoration: none;
  border-top: 1px solid #999; 
  border-left: 1px solid #999; 
  border-bottom: 1px solid #666; 
  border-right: 1px solid #666;
  margin: 0px 3px 0px 3px;
  cursor: pointer;
}
input.btn:link, input.btn:visited
{
  color: #003366;
  text-decoration: none;
  cursor: pointer;
}
input.btn:hover
{
  color: #000;
  background: #ccc url(./images/misc/btnbg_hover.gif) repeat-x center;
  border-top: 1px solid #c90; 
  border-left: 1px solid #c90; 
  border-bottom: 1px solid #c90; 
  border-right: 1px solid #c90;
  text-decoration: none;
  cursor: pointer;
}
input.btn:active
{
  color: #333;
  background: #ccc url(./images/misc/btnbg_click.gif) repeat-x center;
  border-top: 1px solid #666; 
  border-left: 1px solid #666; 
  border-bottom: 1px solid #999; 
  border-right: 1px solid #999;
  text-decoration: none;
  cursor: pointer;
}

input.btnsm
{
  color: #003366;
  font: bold 10px helvetica, arial, sans-serif;
  background: #999 url(./images/misc/btnbg.gif) repeat-x center;
  text-decoration: none;
  border-top: 1px solid #051C46; 
  border-left: 1px solid #051C46; 
  border-bottom: 1px solid #051C46; 
  border-right: 1px solid #051C46;
  margin: 0px 3px 0px 3px;
  cursor: pointer;
}
input.btnsm:link, input.btnsm:visited
{
  color: #003366;
  text-decoration: none;
  cursor: pointer;
}
input.btnsm:hover
{
  color: #fff;
  border-top: 1px solid #051C46; 
  border-left: 1px solid #051C46; 
  border-bottom: 1px solid #051C46; 
  border-right: 1px solid #051C46;
  text-decoration: none;
  cursor: pointer;
}
input.btnsm:active
{
  color: #003366;
  border-top: 1px solid #051C46; 
  border-left: 1px solid #051C46; 
  border-bottom: 1px solid #051C46; 
  border-right: 1px solid #051C46;
  text-decoration: none;
  cursor: pointer;
}

input.btndisabled
{
  color: #666;
  font: bold 10px helvetica, arial, sans-serif;
  background: #999 url(./images/misc/btnbg.gif) repeat-x center;
  text-decoration: none;
  border-top: 1px solid #051C46; 
  border-left: 1px solid #051C46; 
  border-bottom: 1px solid #051C46; 
  border-right: 1px solid #051C46;
  margin: 0px 3px 0px 3px;
  cursor: pointer;
}
input.btndisabled:link, input.btndisabled:visited
{
  color: #666;
  text-decoration: none;
  cursor: pointer;
}
input.btndisabled:hover
{
  color: #666;
  border-top: 1px solid #051C46; 
  border-left: 1px solid #051C46; 
  border-bottom: 1px solid #051C46; 
  border-right: 1px solid #051C46;
  text-decoration: none;
  cursor: pointer;
}
input.btndisabled:active
{
  color: #666;
  border-top: 1px solid #051C46; 
  border-left: 1px solid #051C46; 
  border-bottom: 1px solid #051C46; 
  border-right: 1px solid #051C46;
  text-decoration: none;
  cursor: pointer;
}

input.btnsmdisabled
{
  color: #666;
  font: bold 10px helvetica, arial, sans-serif;
  background: #369 url(./images/misc/btnbg.gif) repeat-x center;
  text-decoration: none;
  border-top: 1px solid #051C46; 
  border-left: 1px solid #051C46; 
  border-bottom: 1px solid #051C46; 
  border-right: 1px solid #051C46;
  margin: 0px 3px 0px 3px;
  cursor: pointer;
}

input.btnsmdisabled:link, input.btnsmdisabled:visited
{
  color: #666;
  text-decoration: none;
  cursor: pointer;
}
input.btnsmdisabled:hover
{
  color: #666;
  border-top: 1px solid #051C46; 
  border-left: 1px solid #051C46; 
  border-bottom: 1px solid #051C46; 
  border-right: 1px solid #051C46;
  text-decoration: none;
  cursor: pointer;
}
input.btnsmdisabled:active
{
  color: #666;
  border-top: 1px solid #051C46; 
  border-left: 1px solid #051C46; 
  border-bottom: 1px solid #051C46; 
  border-right: 1px solid #051C46;
  text-decoration: none;
  cursor: pointer;
}

td.btn { background: transparent !important; padding: 3px 4px 3px 3px;}
td.singlebtn { background: transparent !important; padding: 3px 4px 3px 3px; }
/* End Button tabs */

a.frag:link   {font-size:8pt; font-style:normal; font-family:helvetica, arial, sans-serif; text-decoration: underline; color:#ffffff}
a.frag:visited   {font-size:8pt; font-style:normal; font-family: helvetica, arial, sans-serif; text-decoration: underline; color:#ffffff}
a.frag:active   {font-size:8pt; font-style:normal; font-family: helvetica, arial, sans-serif; text-decoration: underline; color:#ffffff}
a.frag:hover    {text-decoration: underline; color: #ffffff}

-->

/* Biola Custom CSS */
/*
.tl, .tr, .tm{
height: 10px;
}

.tl {
background: #EFEDE8 url(./images/misc/tl.gif) no-repeat scroll right top;
float: left;
}

.tr {
background: #EFEDE8 url(./images/misc/tr.gif) no-repeat scroll right top;
float: right;
}

.tm {
background: #EFEDE8 url(./images/misc/tm.gif) repeat-x scroll center top;
}

.bl, .br, .bm{
height: 13px;
}

.tr, .tl, .tm, .bl, .br, .bm, .m_cont_out, .b_cont, .t_cont {
padding: 0;
margin: 0;
overflow: hidden;
border-spacing: 0;
border-collapse: collapse;
}

.bl {
background: #EFEDE8 url(./images/misc/bl.gif) no-repeat scroll right top;
float: left;
}

.br {
background: #EFEDE8 url(./images/misc/br.gif) no-repeat scroll right top;
float: right;
}

.bm {
background: #EFEDE8 url(./images/misc/bm.gif) repeat-x scroll center top;
}

.t_cont {
float: left;
width: 100%;
}

.b_cont {
float:left;
width: 100%;
height: 18px;
}

.m_cont_out {
background: #EFEDE8 url(./images/misc/lm.gif) repeat-y scroll left top;
float: left;
width: 100%
}

.m_cont_in {
background: transparent url(./images/misc/rm.gif) repeat-y scroll right top;
display: block;
padding: 0px 10px 5px 10px;
}
*/

.t_cont {
display: none;
}

.b_cont {
display: none;
}

/**** This Sections affects the mini frame for SSB mode ****/

table#bu_miniframe_childtop_header tr.bg1 {
 /*background-color: #2B3649;*/
 background: #333333;
 }
 
 table#bu_miniframe_childtop_header td.bg3 {
 background-color: #335180;
 }
 
table#bu-miniframe-childmid-header {
 background-color: #335180;
 padding-bottom: 5px;
 border-bottom: 5px solid #2B3649;
 }
 
 /**** This Section affects Focus mode views ****/
 
 div#bu-focus-mode-content {
 min-height: 350px;
 padding-left: 50px;
 padding-right: 50px;
 padding-top: 15px;
 padding-bottom: 50px;
 background: #FFFFFF /*url(./images/misc/contentbg.png) bottom repeat-x*/;
 }
 
 table#channel {
 margin-top: 30px;
 padding-left: 50px;
 padding-right: 50px;
 }
 
 span#section_head_txt {
 color: #FFFFFF;
 }
 
 div#bu-focus-hdr{
 background-color: #404040;
 height: 28px;
 padding-top: 5px;
 padding-bottom: 5px;
 padding-left: 15px;
 padding-right: 15px;
 border: 1px solid #404040;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 -moz-box-shadow: 0px 2px 6px #404040;
 -webkit-box-shadow: 0px 2px 6px #404040;
  }
  div#bu-focus-title{
 float: left;
 }
 div#bu-focus-btns{
 float: right;
 margin-top: 5px;
 }
 
 /*--- Footer ---*/
#sungard-footer {display: none;}
#wrapperFooter 						{ float:left; width:100%; min-width:814px; padding:0 0 2em; background: #E4E1D9 url(./images/misc/footer_shadow.gif) 0 0 repeat-x; }
#footer 									{ width:770px; margin:22px auto; overflow:auto; padding:0 0; background:url(./images/misc/rule_dotted_v.gif) 418px 0 repeat-y; }
#footer a 								{ color:#5F5D59; }
#navSupplemental					{ font-size: .75em; float:right; width:341px; margin:0 11px 0 0; display:inline; /* IE 6 doubled margin fix */ }
#navSupplemental ul 			{ list-style-type:none; margin:6px 0 0 33px; }
#navSupplemental ul li 		{	float:left; width:134px; font-size:0.85em; font-weight:bold; margin:0 0 2px 0; }
#siteinfo 								{	float:left; width:407px; font:normal .75em/1.5 Arial, sans-serif; margin:0 0 0 11px; display:inline; }
#siteinfo .org 						{ display:block; width:139px; height:40px; background:url(./images/misc/logo_weak.gif) 0 0 no-repeat; float:left; margin:0 0 8px 0; text-indent:-1000px; overflow:hidden; }
#siteinfo .adr,
#siteinfo .tel,
#siteinfoMapLink 		{ float:right; clear:right; width:250px; font-size:0.92em; font-style:normal; line-height:1.6; color:#5F5D59; }
#siteinfo .adr 			{ padding:4px 0 0 0; }
#siteinfo .tel 			{	margin:0 0 9px 0; }
#siteinfoMapLink a 	{ font-weight:bold; }
#siteinfoLegal 			{	float:left; clear:left; width:139px; text-align:center; font-size:0.85em; color:#8D8B85; }

div.emphasize {
  background-color: #702721;
  color: #FFFFFF;
}

div.emphasize div h1, div.emphasize div h1 span {
  color: #FFFFFF;
}


