
<!--
.bg1 {background-color: #F1F5FA;}

.bg3 {background-color: #F1F5FA;}

.bgtabon {background-color: #E4E1D9;}

.bgtaboff {background-color: #BFBCAD;}

.texttabon {color: #404040;}

.texttaboff {color: #404040;}

td.tabon { background-color: #E4E1D9; color: #404040; }
.tabon A:link { color: #404040; }
.tabon A:visited { color: #404040; }
.tabon A:active { color: #404040; }
.tabon A:hover { color: #404040; }

td.taboff { background-color: #BFBCAD; color: #404040; }
.taboff A:link { color: #404040; }
.taboff A:visited { color: #404040;  }
.taboff A:active { color: #404040;  }
.taboff A:hover { color: #404040;  }

.ChanBoxBg {background-image: url(/media/org/jasig/portal/channels/CUserPreferences/tab-column/channel/chan_box_bg.gif); background-color: #F1F5FA;}
.setupBox {border:2px #E4E1D9 solid;}
-->
