.clear_float{clear:both}.social_facebook_container_like_productpage_width{width:150px;padding-top:10px}
div #social_facebook_Like_ProductOnlyDisplay{padding-top:7px}
div #social_facebook_Like_HomeSidebarDisplay{position:absolute}
div #social_facebook_Activity_HomeSidebarDisplay{position:relative;margin-left:1px;margin-right:1px;margin-bottom:1px;margin-top:1px}
#social_facebook_Like_HomeSidebarDisplay iframe{display:inline}
#social_facebook_Activity_HomeSidebarDisplay iframe{display:inline;background:#fff}
#social_facebook_Details_Like_Button_Display iframe{display:inline;padding-top:2px}
#social_facebook_Like_HomeSidebarDisplay span.fb_edge_comment_widget{top:25px !important;left:-20px !important}
#social_facebook_Like_HomeSidebarDisplay span.fb_edge_comment_widget iframe{width:550px !important;display:block:}
.ie_socialFacebookdijitButtonNodeAdjustment{padding-bottom:2px;height:25px}
.ie8_socialFacebookdijitButtonNodeAdjustment{padding-bottom:3px;height:25px}
div .headerMenu_DropDown_Facebook{margin-bottom:-6px;vertical-align:bottom;text-decoration:none;display:inline-block;color:#404040;padding:2px 2px 2px;border:solid 1px transparent;text-align:right}
#menu_DropDown_Facebook{padding-bottom:0}
.socialDropDownArrow{margin-left:4px}.socialFacebookProfilePix{width:20px;height:20px}
.socialFacebookProfileName{padding-top:10px;padding-left:4px}
span#header_menu_facebook_loaded .dijitDropDownButtonHoverFocused,span#header_menu_facebook_loaded .dijitDropDownButtonOpenedFocused{background-color:#fff}
span#header_menu_facebook_loaded .dijitDropDownButtonOpenedFocused{border-left:solid 1px #b7bebe;border-right:solid 1px #b7bebe;border-top:solid 1px #b7bebe;border-bottom:0}
a#headerFBlogout.h_tnav_but{text-decoration:none;height:10 px;display:inline;font-size:12px;border-top-style:solid;border-top-color:#ccc;border-top-width:1px;padding-top:2px}
a#headerFBlogout.h_tnav_but:hover{text-decoration:underline}
.facebook_zindex{z-index:999 !important}
div#WC_CachedHeaderDisplayFacebook_div{border-left:solid 1px #b7bebe;border-right:solid 1px #b7bebe;border-bottom:solid 1px #b7bebe;border-top:0;background-color:#fff}
#WC_CachedHeaderDisplayFacebook_div_2{background-color:#fff}
#WC_CachedHeaderDisplayFacebook_div img.dijitMenuExpand{display:none}
#WC_CachedHeaderDisplayFacebook_div td.dijitMenuArrowCell{display:none}