/*

  Biola University
  Interactive Campus Map CSS
  ------------------------------------
  Site-Level:  Local
  Media:       Screen
  Author:      Tim Beardshear

*/



/*
--- General --- */
body {
  height:100%;
  margin:0;
  padding:0;
}

/*
--- Main page elements --- */
#content {
  width:27%;
  height:92%;
  float:left;
  font-family:arial;
  font-size:12px;
  color:#333;
  position:absolute;
  z-index:1000;
  top:1%;
  left:1%;
  border-bottom:solid 1px #999;
  /*
  Compensate alignment for the map's 
  1px border on top */
  margin:1px 0 0 0; 
}

#map_container {
  width:70%;
  height:92%;
  background:#000;
  border:solid 1px #999;
  overflow:hidden;
  position:absolute;
  top:1%;
  right:1%;
}

#footer {
  font-family:arial;
  font-size:11px;
  font-weight:bold;
  color:#333;
  position:absolute;
  top:93%;
  padding:10px 0 0 0;
  right:1%;
  margin:0 0 0 0;
}

/*
--- Content elements --- */
#content_head {
  position:absolute;
  top:0;
  height:80px;
  width:100%;
  float:left;
  overflow:hidden;
}

#content_body {
  border-top:solid 1px #999;
  position:absolute;
  top:74px;
  height:85%;
  width:100%;
  overflow:auto;
}

#content ul {
  margin:0;
  padding:0 0 0 20px;
  font-size:11px;
}

#content li {
  margin:0 0 5px 0;
}

#content a:link,
#content a:visited {
  color:#222;
}

#content a:hover,
#content a:visited:hover {
  color:#F00;
}

#content_head h1 {
  font-size:14px;
}


/*
--- Map --- */
#map {
  position:absolute;
  display:block;
  width:2500px; height:2500;
}
#map img {
  display:block;
  float:left;
}

a.map_location {
  position:absolute;
  text-decoration:none;
  /*
  set above the #pointer: */
  z-index:10000;
  /* 
  MSIE fix: IE does not activate areas of a link 
  with no background. By setting a transparent gif,
  the background remains transparent, but also active. */
  background:url(images/transparent.gif);
}

#pointer {
  position:absolute;
  background:url(images/pointer.png) 0 0 no-repeat;
  height:50px;
  display:none;
  /* 
  set below map links */
  z-index:100000;
}

#pointer_content {
  font-family:arial; font-weight:bold;
  background:#F29611;
  margin:0 0 0 45px;
  padding:3px 5px 3px 5px;
  border:solid 2px #FFF;
  font-size:12px;
  line-height:1.4;
  white-space:nowrap;
}

a.building  { 
  /* 
  Buildings should be above other 
  location types (i.e. parking lots) */
  z-index:10001;
}


/*
--- Content navigational sections --- */
.section {}

#page .section ul.map_links {
  padding:10px 0 10px 5px;
  list-style-type:none;
}

.section ul.map_links a {
  padding:2px;
}

.section ul.map_links a.selected {
  background-color:#EE9706;
  color:#111 !important;
}

ul#parking_info {
  font-size:12px;
  line-height:1.4;
  padding:10px 0 10px 25px;
  margin:0 0 10px 0;
}

h3 {
  margin:0;
  padding:0;
  font-size:13px;
  color:#111;
}


/*
--- Content Navigational Links --- */
#nav {

}

#page .nav {
  position:absolute;
  bottom:0;
  left:0;
  width:400px;
  overflow:hidden;
  margin:0 0 0 0;
  padding:0;
  font-size:12px;
  border-top:solid 1px #999;
  border-bottom:solid 5px #FFF;
  background:#CCC url(../images/rule.gif) left bottom repeat-x;
}

#page .nav li {
  list-style-type:none;
  float:left;
  /* margin:4px 12px 4px 0; */
  margin:0;
  background:#FFF;
  border-right:solid 1px #999;
  border-bottom:solid 1px #999;
}

#page .nav a {
  display:block;
  padding:6px 8px;
  background:#CCC;
}

#page .nav li.selected {
  font-weight:bold;
  border-bottom:solid 1px #FFF;
}

#page .nav li.selected a {
  color:#000;
  background:#FFF;
}


/*
--- No script notice ---
(only displayed when javascript is disabled) */
  
#no_script_notice {
  position:absolute;
  top:40%;
  left:50%;
  margin:0 0 0 -25%;
  width:50%;
  text-align:center;
  /*
  overridden within the file's <noscript> tag */
  display:none; 
}


/*
--- Dev (for development purposes) --- */
#coordinates {
  position:absolute;
  z-index:10002;
  top:0;
  right:0;  
  padding:8px 0;
  background:#222;
  color:#FFF;
  width:100px;
  text-align:center;
  font-family: Arial;
  font-weight:bold;
  font-size:12px;
  display:none;
}

body.dev_mode #coordinates {
  display:block;
}

body.dev_mode a.map_location {
  outline:solid 1px #F00;
  background:rgba(255,0,0,0.15);
}
