
/* Default style, feel free to remove if not needed. */
body, body * {
	vertical-align: baseline;
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;
    font-size: 0;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
}


/* global */
#container_dc {
	position: absolute;
	width: 728px;
	height: 90px;
	top: 0px;
	left: 0px;
	
	margin: auto;
	overflow:hidden;
}
#content_dc {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: #87b6df;
	overflow:hidden;
}

#bg{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: #87b6df;
	overflow:hidden;
}

#bgFade {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 9994;
	background-color: white;
}
#border_div {
	width: 726px;
	height: 88px;
	top: 0px;
	left: 0px;
	border:1px solid #000;
}
.full_div{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
}


#img_man{
	left:50px;
	top:-5px;
}


#anim_container{
	background: #000000;	


}

#bg2{
	background: #163179;	
}

#scrub_bar{

}

#img_wall{
	left:-88px;
}
#img_dove{
	top:0;
}


/* Invisible button for background clickthrough. */
#background_exit_dc {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	cursor: pointer;
	background-color:transparent;
	z-index: 400;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

